:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

body{
    background-color: var(--body-bg-color);
} 

#container{
    width: 414px;
    height: 600px;
    flex-shrink: 0;
    border: 1px solid red;
    margin: auto;
}

#profile img {
    width: 150px;
    height: 150px;
    margin-left: 133px;
    border-radius: 50%;
    z-index: 1;
}

#profile a {
    color: var(--purple);
    margin-left: 130px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

ul {
    color: var(--purple);
    margin-left: 150px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}